In [1]:
import pandas as pd

In [2]:
students = [
    {"name": "Ahmet" , "surname": "Gunes" , "email": "ahmetgunes@gmail.com"},
    {"name": "Mehmet" , "surname": "Cevik" , "email": "mehmetcevik@gmail.com"},
]

In [3]:
df = pd.DataFrame(students)

In [4]:
df

     name surname                  email
0   Ahmet   Gunes   ahmetgunes@gmail.com
1  Mehmet   Cevik  mehmetcevik@gmail.com

In [7]:
students = {
    "name": ["Ahmet", "Mehmet", "Ali"],
    "surname": ["Gunes", "Cevik","Kalkan"],
    "email": ["ahmmet@gmail.com", "mehmet@gmail.com", "ali@gmail.com"],  
}

In [1]:
df = pd.Data.Frame(students)

NameError: name 'pd' is not defined

In [9]:
df

     name surname                  email
0   Ahmet   Gunes   ahmetgunes@gmail.com
1  Mehmet   Cevik  mehmetcevik@gmail.com

In [10]:
df = pd.DataFrame(students)

In [11]:
df

     name surname             email
0   Ahmet   Gunes  ahmmet@gmail.com
1  Mehmet   Cevik  mehmet@gmail.com
2     Ali  Kalkan     ali@gmail.com

In [12]:
df['surname']

0     Gunes
1     Cevik
2    Kalkan
Name: surname, dtype: object