In [7]:
import pandas as pd

In [8]:
students = { 
    "name" : ["Ahmet", "Ali", "Mehmet"],
    "surname" : ["Gunes", "Cevik", "Mutlu"],
    "mail" : ["ahmet@gmail.com", "ali@gmail.com", "mehmet@gmail.com"], 
}

In [9]:
df = pd.DataFrame(students)

In [10]:
df

     name surname              mail
0   Ahmet   Gunes   ahmet@gmail.com
1     Ali   Cevik     ali@gmail.com
2  Mehmet   Mutlu  mehmet@gmail.com

In [11]:
df ["surname"]

0    Gunes
1    Cevik
2    Mutlu
Name: surname, dtype: object

In [12]:
df[["name","surname"]]

     name surname
0   Ahmet   Gunes
1     Ali   Cevik
2  Mehmet   Mutlu

In [13]:
df.columns

Index(['name', 'surname', 'mail'], dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [15]:
df.iloc[1]

name                 Ali
surname            Cevik
mail       ali@gmail.com
Name: 1, dtype: object

In [17]:
df.iloc[1]["name"]

'Ali'

In [22]:
df["name"].iloc[1]

'Ali'

In [23]:
df.loc[1]

name                 Ali
surname            Cevik
mail       ali@gmail.com
Name: 1, dtype: object